body {font-family:'Open Sans',sans-serif;}

/* Nav */
.container .navbar {margin-top:20px;}
.navbar .navbar-brand {background-color:#1cc0ef; color:#fff; padding:8px 25px; border-radius:6px; font-size:14px; margin-right:50px; font-weight:600;}
.navbar .navbar-brand:hover {color:#fff;}
.navbar-light .navbar-nav .nav-link,.navbar-light .navbar-nav .nav-link:focus {border:2px solid #fff; color:#7c8796; font-weight:600; font-size:14px; padding:8px 20px;}
.navbar-light .navbar-nav .nav-link:focus,.navbar-light .navbar-nav .nav-link:hover {color:#16c0ef;}
.navbar-light .navbar-nav .active > .nav-link {border:2px #16c0ef solid; border-radius:6px; color:#16c0ef;}

@media (max-width: 299px) {
body {display:none;}
}

@media (min-width: 300px) and (max-width: 767px) {

/* Nav */
.navbar-collapse {padding-top:25px;}
}

@media (min-width: 768px) and (max-width: 991px) {

/* Nav */
.navbar-collapse {padding-top:25px;}
}