body {font-family:'Open Sans',sans-serif;}

/* Nav */
.container .navbar {margin-top:20px;}
.navbar .navbar-brand {background-color:#1cc0ef; color:#fff; padding:8px 25px; border-radius:6px; font-size:14px; margin-right:50px; font-weight:600;}
.navbar .navbar-brand:hover {color:#fff;}
.navbar-light .navbar-nav .nav-link,.navbar-light .navbar-nav .nav-link:focus {border:2px solid #fff; color:#7c8796; font-weight:600; font-size:14px; padding:8px 20px;}
.navbar-light .navbar-nav .nav-link:focus,.navbar-light .navbar-nav .nav-link:hover {color:#16c0ef;}
.navbar-light .navbar-nav .active > .nav-link {border:2px #16c0ef solid; border-radius:6px; color:#16c0ef;}

/* Banner */
.banner {padding:50px 15px;}
.author .col-xl-6,.banner .col-xl-6 {align-content:center; display:flex; flex-direction:column; justify-content:center; color:#2a3844;}
.banner .col-xl-6 h1 {font-weight:700;}
.banner .col-xl-6 h5 span {color:#1cbfef;}
.banner .col-xl-6 h5 {margin-bottom:25px; font-weight:normal;}
.banner .col-xl-6 a {color:#fff; background-color:#1cc0ef; border:1px solid #16c0ef; border-radius:6px; width:fit-content; padding:15px 30px; margin-top:15px; font-weight:600;}
.banner .col-xl-6 a:focus,.banner .col-xl-6 a:hover {text-decoration:none; color:#16c0ef; background-color:#fff;}

/* Featured */
.featured {background-color:#f4f8fa; margin-top:100px; padding-bottom:20px;}
.featured .slider {transform:translateY(-100px);}
.play-button {position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);}
.featured .stories {width:80%; background-color:#fff; padding:0; border-radius:4px; border:#ebeef3 1px solid; box-shadow:0 4px 8px rgba(0,0,0,0.07);}
.featured .stories .col-xl-7 {padding:15px 0 0 25px;}
.featured .stories .col-xl-7 .tags span {background-color:#eef3f8; border-radius:20px; font-size:10px; font-weight:600; height:fit-content; margin-left:10px; padding:3px 15px; text-transform:uppercase;}
.featured .stories .col-xl-7 h5 {font-weight:700; margin:20px 0;}
.featured .stories .col-xl-7 p {color:#5d677e; font-size:14px; padding-right:50px;}
.author-profile {font-size:14px; padding-left:30px;}
.author-profile span {display:block; font-weight:700;}
.featured .stories .col-xl-7 a {color:#16c0ef; font-size:15px; line-height:60px; font-weight:700;}
.story-bottom {margin-top:30px;}
.featured .slider .carousel-indicators {transform:translateY(70px);}
.featured .slider .carousel-indicators li {width:10px; height:10px; border-radius:100%; background-color:#7c8796;}
.featured .slider .carousel-indicators .active {background-color:#16c0ef;}
.featured .slider .carousel-control-next,.featured .slider .carousel-control-prev {top:370px; width:fit-content; height:fit-content; background-color:#fff; border:#5d677e 1px solid; padding:8px 15px;}
.featured .slider .carousel-control-next {left:50px;}
.featured .slider .carousel-control-prev {left:0;}
.featured-bottom {background-color:#f4f8fa; position:relative; padding-top:50px;}
.how-to-share {padding:50px 15px 50px 15px;}
.how-to-share .col-xl-3 h4 {font-weight:700; padding:0 40px; margin-bottom:40px;}
.how-to-share .col-xl-3 a {color:#fff; background-color:#1cc0ef; border:1px solid #16c0ef; border-radius:6px; padding:15px 30px; font-weight:600;}
.how-to-share .col-xl-3 a:focus,.how-to-share .col-xl-3 a:hover {text-decoration:none; color:#16c0ef; background-color:#f4f8fa;}
.how-to-share .col-xl-3 img {padding-bottom:20px;}
.how-to-share .col-xl-3 h6 {font-weight:700;}
.top-left-icon {position:absolute; top:0; left:150px;}
.top-right-icon {position:absolute; top:0; right:20px;}

/* Author */
.author {padding:50px 15px;}
.author .col-xl-6 img {width:80%; margin:auto;}
.content-part {padding-right:100px; color:#2a3844;}
.content-part h3 {font-weight:700; font-size:24px; margin-bottom:25px;}
.content-part h5 {font-weight:600; font-size:19px; padding:0 80px 5px 0;}
.content-part p {font-size:14px; color:#5d677e; font-weight:500;}
.content-part a {font-size:15px; padding:15px 10px; border:1px solid #16c0ef; width:fit-content; border-radius:6px; color:#16c0ef; font-weight:700; margin-top:15px;}
.content-part a:focus,.content-part a:hover {text-decoration:none; color:#fff; background-color:#16c0ef;}

/* Footer */
footer {background-color:#f4f8fa; padding:50px 0 20px 0;}
footer .col-xl-4 ul li {list-style:none; padding-bottom:3px;}
footer .col-xl-4 ul li a {font-size:12px; color:#506d85;}
.f-links-head {font-weight:700; font-size:12px; color:#506d85;}
.form-box {padding:10px 5px 10px 15px; border:1px solid #e0e6ee; background-color:#fff; border-radius:2px; margin-left:100px;}
.form-box input {font-size:13px; border:none; padding-right:150px; color:#939ba2; font-weight:400; outline:none;}
.form-box button {background:none; border:none; font-size:14px; color:#16c0ef; font-weight:700;}
.social-media {display:flex; justify-content:flex-end;}
.social-media span {margin:15px 10px;}
.copyright {display:flex; justify-content:space-between;}
.copyright span {font-size:12px; color:#506d85; font-weight:400;}

@media (max-width: 767px) {

/* Nav */
.navbar-collapse {padding-top:25px;}

/* Banner */
.banner .col-xl-6 {text-align:center;}
.banner .col-xl-6 h5 {margin-bottom:10px;}
.banner .col-xl-6 p {text-align:left;}
.banner .col-xl-6 h1 {font-size:28px; margin-top:50px;}
.banner .col-xl-6 a {margin:auto; padding:8px 15px;}

/* Featured */
.featured .stories {width:100%; height:900px;}
.featured .slider {padding:0;}
.featured .stories .col-xl-7 {padding:0 30px;}
.favorite-icon img {margin:10px 10px 0 auto; display:block;}
.featured .stories .col-xl-7 .tags {margin-top:10px;}
.featured .stories .col-xl-7 .tags span {padding:5px 10px; margin-left:0;}
.featured .stories .col-xl-7 h5 {padding:0; margin-top:-0px; font-size:16px;}
.featured .stories .col-xl-7 p {padding:0 0;}
.author-profile {padding-left:0;}
.featured .stories .col-xl-7 a {line-height:30px;}
.featured .slider .carousel-control-next,.featured .slider .carousel-control-prev {top:920px;}
.top-left-icon {top:0; left:0;}
.top-right-icon {display:none;}
.how-to-share .col-xl-3 {padding-bottom:35px;}
.story-image img {width:100%;}

/* Author */
.content-part {padding-right:00px; color:#2a3844;}
.content-part h3 {margin-top:30px;}
.content-part h5 {padding-right:0;}

/* Footer */
.form-box {margin-left:0; width:280px; margin:auto;}
.form-box input {padding-right:0;}
.social-media {justify-content:center;}
.copyright {justify-content:center; flex-direction:column;}
.copyright span {text-align:center;}
.how-to-share .col-xl-3 {padding-bottom:35px;}
.story-image img {width:100%;}
}

@media (max-width: 575px) {
.featured .stories {width:100%; height:900px;}
.featured .slider .carousel-control-next,.featured .slider .carousel-control-prev {top:920px;}
}

@media (min-width: 768px) and (max-width: 991px) {

/* Nav */
.navbar-collapse {padding-top:25px;}

/* Banner */
.banner .col-xl-6 h1 {font-size:32px;}
.banner .col-xl-6 h5 {margin-bottom:10px; font-size:18px;}
.banner .col-xl-6 a {padding:8px 15px; margin-top:0;}

/* Featured */
.featured .stories {width:100%;}
.story-image img {width:100%;}
.featured .stories .col-xl-7 h5 {padding:0 150px 0 0; font-size:20px;}
.featured .stories .col-xl-7 p {padding:0 150px 0 0;}
.featured .stories {width:100%; height:1010px;}
.featured .slider .carousel-control-next,.featured .slider .carousel-control-prev {top:1030px;}

/* Author */
.content-part {padding-right:00px; color:#2a3844;}
.content-part h3 {margin-top:10px; margin-bottom:10px;}
.content-part h5 {padding-right:0;}

/* Footer */
.form-box {margin-left:0; width:500px; margin:0 auto 0 0;}
.form-box input {padding-right:220px;}
.social-media {justify-content:flex-end; margin-top:-55px;}

}

@media (min-width: 992px) and (max-width: 1199px) {

/* Featured */
.featured .stories {width:100%;}
.featured .stories .col-xl-7 h5 {padding:0 50px 0 0;}
.featured .slider .carousel-control-next,.featured .slider .carousel-control-prev {top:380px;}

/* Author */
.content-part h3 {margin-top:10px; margin-bottom:10px;}
.content-part h5 {padding-right:0;}

/* Footer */
.form-box input {padding-right:75px;}

}